[project]
	description = Holo Kernel for ZF2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuvraj (nutcasev15)
[access "refs/for/refs/*"]
	read = group user/Yuvraj (nutcasev15)
	push = group user/Yuvraj (nutcasev15)
	label-Code-Review = -2..+2 group user/Yuvraj (nutcasev15)
	label-Verified = -1..+1 group user/Yuvraj (nutcasev15)
	rebase = group user/Yuvraj (nutcasev15)
	removeReviewer = group user/Yuvraj (nutcasev15)
	submit = group user/Yuvraj (nutcasev15)
[access "refs/heads/*"]
	read = group user/Yuvraj (nutcasev15)
	create = group user/Yuvraj (nutcasev15)
	push = +force group user/Yuvraj (nutcasev15)
	pushMerge = group user/Yuvraj (nutcasev15)
[access "refs/tags/*"]
	push = group user/Yuvraj (nutcasev15)
	push = +force group user/Yuvraj (nutcasev15)
